:root {
  font-family: 'Roboto', 'Segoe UI', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f4f6f8; /* Açık Gri Zemin */
}

/* Tüm boşlukları sıfırla */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Yatay scroll bar çıkmasın */
}

/* Scrollbar Özelleştirme (Webkit) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #331859;
}
::-webkit-scrollbar-thumb {
  background: #5550F2;
  border-radius: 4px;
}